body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: default;
}

.App{
  background: url(./images/wallpaperflare.com_wallpaper.jpg);
  width: 100vw;
  height: 100vh;
  display: grid;
  position: relative;
}


/* Main content in the middle */
.time{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 20rem;
  left: 37rem;
  z-index: 2;
  text-align: center;
}
.clock{
  font-size: 5rem;
  color: white;
  text-shadow: 3px 0px 10px black;
}
.phrase{
  font-size: 4rem;
  color: white;
  font-style: italic;
  text-shadow: 3px 0px 10px black;
  
}
.search{
  border-radius: 10px;
  width: 30rem;
  height: 2rem;
  border: none;
  box-shadow: 0px 0px 10px black;
  font-size: 1.5rem;
}
.search::placeholder{
  font-size: 1.2rem;
  top: 7px;
  position: absolute;
}



/* Button for the nav bar */
.hamburger-btn{
  position: absolute;
  top: 40%;
  width: 25px;
  height: 3px;
  background: white;
  transition: all .5s ease-in-out;
}
.hamburger-btn::before{
  content: "";
  top: 8px;
  position: absolute;
  width: 25px;
  height: 3px;
  background: white;
  transition: all .5s ease-in-out;
}
.hamburger-btn::after{
  content: "";
  top: -8px;
  position: absolute;
  width: 25px;
  height: 3px;
  background: white;
  transition: all .5s ease-in-out;
}
.hamburger{
  width:25px;
  height: 20px;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 10;
}
.hamburger.open{
  transform: rotate(720deg);
}
.hamburger-btn.open{
  background: transparent;
}
.hamburger-btn.open::before{
  transform: rotate(45deg);
  top: 0;
}
.hamburger-btn.open::after{
  transform: rotate(-45deg);
  top: 0;
}


/* Button for the nightmode */
.night{
  position: absolute;
}
.moon{
  width: 40px;
  height: 40px;
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
  transition: all .5s ease-in-out;
}
.moon-button{
  cursor: pointer;
  background: black;
  width: 40px;
  height: 40px;
  z-index: 2;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  box-shadow: inset 0px 0px 10px black, inset 14px 0px 3px 1px white;
}
.moon:hover, .moon-button:hover{
  width: 50px;
  height: 50px
}
.moon-button::before{
  content: "";
  background-color: transparent;
  width: 40px;
  height: 40px;
  z-index: 3;
  position: absolute;
  right: 10px;
  bottom: 7px;
  border-radius: 50%;
  cursor: pointer;
}
.nightmode{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  transition: all .5s ease-in-out;
}
.on{
  opacity: .7;
}
.off{
  opacity: .0;
}


/* Navbar */
.nav{
  z-index: 3;
  top: 0;
  left: 0;
  position: absolute;
  width: 12.5rem;
  height: 100%;
  background: rgba(0,0,0,.9);
  transform: translateX(-100%);
  transition: all .5s ease-in-out;
  overflow: hidden;
  box-shadow: none;
}
.nav.open{
  transform: translateX(0);
  box-shadow: 3px 0px 15px black
}


/* Navbar Shows */
.showsMenu{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  font-size: 3rem;
}
.netflix{
  width: 90px;
  height: auto;
  margin-right: 18px;
}
.disneyplus{
  width: 110px;
  height: auto;
  margin: 0px;
}
.youtube{
  width: 80px;
  height: auto;
  margin-right: 3px;
  margin-left: 3px;
}
.twitch{
  width: auto;
  height: 70px;
  margin-right: 20px;
}
.group1{
  display: flex;
  align-items: center;
}
.group2{
  display: flex;
  align-items: center;
}
.shows-line{
  width: 90%;
  margin: 50px 0px 0px 0px;
  background: grey;
  border: none;
  height: 2px;
}
.shows{
  color: white;
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  right: 1rem;
}

/* Navbar weather */
.weather{
  position: absolute;
  bottom: 1rem;
  left: .2rem;
  height: 11em;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient( to bottom right, #3a89d4, #2c35d8);
  opacity: .9;
  box-shadow: inset 0px 0px 10px black;
}
.current{
  color: white;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
.icon{
  width: 70px;
  height: auto;
  margin: 0;
  filter: drop-shadow(0px 0px 10px white);
  position: absolute;
  left: 1.3rem;
  top: 4rem;
}
.description{
  word-wrap: break-word;
  color: white;
  font-size: 1.2rem;
  margin: 0;
  font-style: italic;
  position: absolute;
  bottom: 0;
  float: left;
  width: 80%;
  height: 30%;
}
/* .weather-line{
  border: none;
  height: 3px;
  background: white;
  width: 70%;
  border-radius: 3px;
  max-height: inherit;
  margin: 0;
} */
.F{
  font-size: 1.3rem;
  position: relative;
  bottom: 8px;
  left: 2px;
}
.extras{
  position: absolute;
  top: 1.9rem;
  right: 1rem;
}
.high{
  color: white;
  margin: 0 0 5px 0;
  font-size: .9rem;
}
.low{
  color: white;
  margin: 0 0 5px 0;
  font-size: .9rem;
}
.wind{
  color: white;
  margin: 0;
  font-size: .9rem;
}


